<!DOCTYPE html>
<html xmlns:th="http://http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Gravar venda</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>	
</head>
<body>
	<h2 th:text="${msg}"></h2>
	<a th:href="@{/}">Home</a>
	<hr>
	
	
	
	<fieldset>
	<legend>Formulário de cadastro</legend>
		<form action="#" th:action="@{/gravarVenda}" th:object="${produto}"  method="post">
			
			<input type="text" th:field="*{usuario.id}" placeholder="id do produto"><br><br>
			<input type="text" th:field="*{nome}" placeholder="nome do produto"><br><br>
			
			<select th:field=*{categoria}>
				<option th:text="'Celular'" th:value="'Celular'"></option>
				<option th:text="'Video game'" th:value="'Video game'"></option>
			</select>
			
			<button type="submit">Gravar</button>
		</form>
	</fieldset>

</body>
</html>