<!DOCTYPE html>
<html xmlns:th="http://http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Gravar venda</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>	
</head>
<body style="background-color:#f4f6f7">
	<div style="background-color:#00CED1;height:50px;" class="text-secondary">
		
	</div>
	<div class="container">
	
				<div class="row">
				<div class="card mt-3">
					<div class="card-header">
						<h4>Gastar grana$$</h4>
					</div>
					<form action="#" th:action="@{/usuario/{usuarioId}/produto/gravarVenda(usuarioId=${usuarioId})}" th:object="${produto}" method="post">
						<input id="id" type="hidden" th:field="*{usuario.id}"/>
						<input type="text" th:field="*{nome}" placeholder="nome do produto" class="form-control mt-2">
						<input type="text" th:field="*{preco}" placeholder="preco" class="form-control mt-2">

						<select th:field=*{categoria} class="form-control mt-2">
							<option th:text="'ENTRETENIMENTO'" th:value="'Entretenimento'"></option>
							<option th:text="'SAUDE'" th:value="'Saúde'"></option>
							<option th:text="'EDUCACAO'" th:value="'Educação'"></option>
							<option th:text="'ALIMENTACAO'" th:value="'Alimentacao'"></option>
							<option th:text="'TRANSSPORTE'" th:value="'Transporte'"></option>
						</select>
						<button type="submit" class="btn btn-primary mt-2">Gravar</button>
					</form>
				</div>
				
			</div>
	</div>
	
	
	
	

</body>
</html>