<!DOCTYPE html>
<html xmlns:th="http://http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Index</title>
</head>
<body>
	<h2 th:text="${msg}"></h2>
	<a th:href="@{/cadastrar}"><button>Cadastrar usuário</button></a>
	<br><br>
	<a th:href="@{/gravarVenda}"><button>Gravar venda</button></a>
	<br><br>
	<a th:href="@{/login}"><button>Login furado</button></a>
	<br><br>
	<a th:href="@{/home}"><button>Home</button></a><br><br>
	<a th:href="@{/teste}"><button>teste paginacao</button></a>
	<hr>
	
	

	<table>
		<tr>
			<th>Produto</th>
			<th>Categoria</th>
		</tr>
		<tr th:each="item:${produtos}">
			<td th:text="${item.nome}">Row 1: Col 1</td>
			<td th:text="${item.categoria}">Row 1: Col 2</td>
		</tr>
	</table>




</body>
</html>